
#titleheader {
    display: flex;
    justify-content: center; 
    margin: 1em;
    font-size: 30px;
}

#background-container{
    background-color: rgb(51, 87, 129);
    height: 1000px;

}

#background-container div {
    justify-content: center; 
    align-items: center;
    height: 200px;
    color: red;
    width: 200px;
}

#displaycard {
    display: flex;
    justify-content: center; 
    color: rgb(34, 34, 34);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}
.text {
    font-size: 20px;
}
#theDiv {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#result {
    display: flex;
    justify-content: center;
    font-size: 30px;
}